.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  min-height: 100vh;
}

/* size of the SVG */
#svg {
  width: 75vh;
  height: auto;
}

/* button */
#button-div {
  padding: 20px;
}

button {
  margin: 5px;
}

/* default laser positions */
#laser-1 {
  display: inline;
}

#laser-2 {
  display: none;
}

/* timing for animation */
#move,
#move-laser {
  animation-delay: 0.1s;
}

/* SVG animation */
/* https://youtu.be/UTHgr6NLeEw */
@keyframes slide {
  0% {
    transform: translate(none);
  }

  50% {
    transform: translate(50px);
  }

  100% {
    transform: translate(none);
  }
}

@keyframes grow {
  0% {
    /* width: 40px; */
    /* transform: scale(1, 1); */
  }

  50% {
    /* width: 80px; */
    /* transform: scale(1.1, 1); */
    transform: translateX(10px);
  }

  100% {
    /* width: 40px; */
    /* transform: scale(1, 1); */
  }
}
